@{
    ViewData["Title"] = "BankLine";
}

<h1>Formulario para envio do arquivo</h1>

<partial name="~/Views/Shared/Partial/LoadValidationMessage.cshtml" />

<form asp-controller="UploadFiles" asp-action="SendFiles" enctype="multipart/form-data" method="post">
    <div class="mb-3">
        <label for="formFile" class="form-label">Default file input exadfsdfsdfmple</label>
        <input class="form-control" type="file" name="files" id="formFile" multiple>
    </div>
    <input type="submit" class="btn btn-primary" value="Upload">
</form>

<input type="button" class="btn btn-primary" value="Processar dados" onclick="location.href='@Url.Action("OrganizarAsContas", "ProcessFiles")'" />