<div class="container">
    <h2>Transações bancárias</h2>
    <button class="btn btn-secondary btn-sm my-3" onclick="location.href='@Url.Action("Index", "ProcessFiles")'">Voltar</button>
    <partial name="~/Views/BankStatement/Partial/Transaction.cshtml" />
</div>