@{
    ViewData["Title"] = "BankLine";
}
<div class="container">

    <h2>Formulario para envio do arquivo</h2>

    <partial name="~/Views/Shared/Partial/LoadValidationMessage.cshtml" />

    <form class="my-4" asp-controller="ProcessFiles" asp-action="UploadFiles" enctype="multipart/form-data" method="post">
        <div class="mb-3">
            <label for="formFile" class="form-label">Selecionar Arquivo OFX</label>
            <input class="form-control" type="file" name="files" id="formFile" multiple>
        </div>
        <input type="submit" class="btn btn-primary" value="Upload">
    </form>

    <div class="my-2">
        <button class="btn btn-success" onclick="location.href='@Url.Action("FetchSavedExtracts", "BankStatement")'">Carregar extratos salvos</button>
        <button class="btn btn-success" onclick="location.href='@Url.Action("OrganizedExtracts", "BankStatement")'">Processar dados</button>
    </div>
</div>




